
body {
    padding:0px;
    margin:0px;
    border:0px;
    overflow:hidden;
}

#container {
     width:100vw; 
     height:100vh;
     overflow:hidden;
}

#logo {
    width:50%;
    top:45%;
    position:absolute;
    left:55%;
    transform:translate(-50%, -50%);
}


